body {
  min-width: 375px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul button {
  display: block;
  background: #111;
  color: #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container #photo {
  width: 100%;
}

.container #photo img {
  width: 100%;
}

.container #spec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container .colors .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 60px;
  border: 1px solid #ddd;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.container .colors .color p {
  margin-top: 5px;
}

.container .colors img {
  display: block;
  width: 32px;
  height: 32px;
}

.container .specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .specification .spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 60px;
  border: 1px solid #ddd;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.container .specification .spec p {
  margin-top: 5px;
}

.cost {
  margin-top: 10px;
  width: 100%;
  font-size: 36px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container #photo {
    width: 50%;
  }
  .container #spec {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */